{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}
{% block page_content %}

<div class="form form-vertical" role="form", method="POST">
    <h1>Please, load your model.</h1>
    <form method="POST" action="/modelfield" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.input_file) }}
        {{ wtf.form_field(form.dx) }}
        {{ wtf.form_field(form.submit) }}
    </form>
</div>
<div class="container">
  <h1>Pressure distribution</h1>
  <img src="data:image/PNG;base64,{{figure}}" width = "400", height = "400">
</div>
{% endblock %}